*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#000000;
    overflow-x:hidden;
}

/* =========================
ROTATING CLOCK
========================= */

.right-panel{
    position:fixed;

    right:10px;
    top:60%;

    transform:translateY(-50%);

    width:500px;
    height:500px;

    z-index:99999;
    pointer-events:none;


}

.clock-container{
    position:relative;
    width:80%;
    height:80%;
}

.clock-face{
    position:absolute;

    width:100%;
    height:100%;

    object-fit:contain;

    animation:rotateReverse 40s linear infinite;
}

.clock-pointer{
    position:absolute;

    width:50%;
    height:50%;

    left:48%;
    top:55%;

    object-fit:contain;

    transform:translate(-50%, -50%);

    transform-origin:center center;
    
}

@keyframes rotateReverse{

    from{
        transform:rotate(0deg);
    }

    to{
        transform:rotate(-360deg);
    }

}



.hero-section{

    margin-left:10%;
    margin-top:240px;

    position:relative;
    z-index:5;
}

.subtitle{

font-family: "ellograph-cf", monospace;
font-weight: 700;
font-style: normal;
    font-size:11px;

    line-height:1.5;

    letter-spacing:1px;

    opacity:0.7;
    color:#ff0037;

    margin-bottom:30px;
}

.main-header{

    font-family:"feneon-dense", sans-serif;

    font-size:100px;

    line-height:0.82;
    color:#ffffff;

    letter-spacing:-4px;
}

.quote{

font-family: "powell", sans-serif;
font-weight: 400;
font-style: italic;
    font-size:28px;

    line-height:1.6;
    color:#ffffff;

    margin-top:50px;
}



.content{

    font-family: "ellograph-cf", monospace;
font-weight: 700;
font-style: normal;

    width:500px;

    margin-top:60px;

    font-size:13px;
    line-height:1.8;

    border-top:1px solid rgb(255, 255, 255);

    padding-top:20px;

    position:relative;
    z-index:5;

        color:#ffffff;

}

.content2{

    font-family: "ellograph-cf", monospace;
font-weight: 700;
font-style: normal;

    width:500px;
    margin-left:50%;

    margin-top:60px;

    font-size:13px;
    line-height:1.8;

    border-top:1px solid rgb(255, 255, 255);

    padding-top:20px;

    position:relative;
    z-index:5;

        color:#ffffff;

}



.clock-index-wrapper{

    position:relative;

    width:500px;
    height:500px;

    margin:140px auto;
}

.distorted-circle{

    position:absolute;

    width:100%;
    height:100%;

    border:2px solid rgb(255, 255, 255);

    border-radius:42% 58% 70% 30% / 45% 45% 55% 55%;

    animation:dissolve-wave 8s infinite alternate ease-in-out;
}

@keyframes dissolve-wave{

    0%{
        border-radius:42% 58% 70% 30% / 45% 45% 55% 55%;
    }

    100%{
        border-radius:70% 30% 46% 54% / 30% 29% 71% 70%;
    }

}

.index-item{

    position:absolute;

    font-family:"kiln-sans", sans-serif;
}

.page-num{

    font-size:28px;
    font-weight:bold;
    color:#ffffff;
}

.page-text{

    font-size:14px;
    color:#ffffff;
}

.p12{
    top:-10px;
    left:50%;
    transform:translateX(-50%);
}

.p3{
    top:50%;
    right:-20px;
}

.p6{
    bottom:-10px;
    left:50%;
}

.p9{
    top:50%;
    left:-20px;
}






.fixed-video-container{

    position:fixed;

    top:30px;
    left:30px;

    width:220px;

    z-index:9999;

    background:#681e12;

    border:2px solid black;

    transition:0.3s;
}

.fixed-video-container:hover{
    transform:scale(1.04);
}

#monitor-video{
    width:100%;
    display:block;
}

.video-label{

    background:black;

    color:white;

    text-align:center;

    padding:4px;

    font-size:10px;

font-family: powell, sans-serif;
font-weight: 400;
font-style: normal;

    animation:blink 1s infinite;
}

@keyframes blink{

    0%{opacity:1;}
    50%{opacity:0.5;}
    100%{opacity:1;}
}


.planetary-status-section{
    width:100%;
    padding:60px;
    margin-top:200px;
}




.beyond-clock-section{

    display:flex;

    padding:120px 60px;

    gap:80px;

    margin-top:200px;


}

.content-side{
    flex:1;
}

.main-title{

    font-size:40px;

    margin-bottom:20px;

    color:#ffffff;
    font-family: feneon-dense, sans-serif;
font-weight: 500;
font-style: normal;
}

.sub-heading{

    font-size:20px;

    margin-bottom:30px;
    
    color:#ffffff;

    font-family: powell, sans-serif;
font-weight: 400;
font-style: normal;

}

.intro-text{


    width:500px;

    line-height:1.6;

    margin-bottom:60px;

    color:#ffffff;
    font-family: ellograph-cf, monospace;
font-weight: 400;
font-style: normal;
}

.grid-details{

    display:flex;

    gap:60px;

    color:#ffffff;
    margin-top:540px;
}

.detail-item{
    max-width:300px;
    font-family: ellograph-cf, monospace;
font-weight: 400;
font-style: normal;

}

.image-side{

    width:320px;

    display:flex;
    flex-direction:column;

    gap:20px;
}

.image-wrapper{

    width:100%;
    aspect-ratio:4/3;

    overflow:hidden;
}

.image-wrapper img{

    width:100%;
    height:100%;

    object-fit:cover;

    filter:grayscale(100%);
}

